* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.logos {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.background {
  width: 842px;
  height: 842px;
  background: url("../images/v1_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.name {
  width: 183px;
  color: black;
  position: absolute;
  top: 58px;
  left: 44px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align:left;
}
.summary {
  width: 243px;
  color: black;
  position: absolute;
  top: 250px;
  left: 50px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

a:hover {
  color:#ffcc00;}
.about {
  width: 100px;
  color: black;
  position: absolute;
  top: 426px;
  left: 50px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.work {
  width: 117px;
  color: black;
  position: absolute;
  top: 461px;
  left: 50px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.resume {
  width: 116px;
  color: black;
  position: absolute;
  top: 496px;
  left: 50px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.contact_me {
  width: 190px;
  color: black;
  position: absolute;
  top: 531px;
  left: 50px;
  font-family: Fredoka One;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
